[Global]
cluster-id = ${cluster_id}
cluster-distribution = "k0s"
thumbprint = "CF:BF:0E:CD:0B:57:7E:B1:7A:6D:04:05:84:E8:89:5A:8B:F3:51:9E"

[VirtualCenter "vcenter.lab.shortrib.net"]
insecure-flag = false
user = "administrator@shortrib.local"
password = "s377-boBSled-c@nd1e"
datacenters = "garage"
