[Global]
cluster-id = ${cluster_id}
cluster-distribution = "k0s"
thumbprint = "B1:9E:E0:F5:F6:C6:01:AA:25:91:0E:5F:04:06:D7:3A:D6:8D:70:1A"

[VirtualCenter "vcenter.lab.shortrib.net"]
insecure-flag = false
user = "administrator@shortrib.local"
password = "s377-boBSled-c@nd1e"
datacenters = "garage"
