apiVersion: v1
kind: Secret
metadata:
  name: ntnx-secret
  namespace: kube-system
stringData:
  # Format: prism-ip:prism-port:username:password
  key: ${prism_endpoint}:9440:${nutanix_username}:${nutanix_password}
  prism-ip: ${prism_endpoint}
  prism-port: "9440"
  username: ${nutanix_username}
  password: ${nutanix_password}
  storage-container: ${storage_container}
  service: volume
